# DSA 프로젝트 11기 Mission 1

1. 자료구조 Dictionary를 이용하여, if 문 없이 연도를 입력했을 때 윤년/평년을 판별하여 출력하는 프로그램을 생성하시오.

In [1]:
def find_year(year):
    check_year = {
        True : '윤년입니다.',
        False : '평년입니다.'
    }
    return check_year[(year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)]

year = int(input('연도를 입력하시오 : '))
find_year(year)

연도를 입력하시오 :  2321

'평년입니다.'

2. A 학생의 과목별 점수가 아래와 같을 때, 이 점수를 딕셔너리 형태로 선언하고, 평균을 계산하시오.

- A : 국어 75, 영어 53, 수학 90, 사회 46, 한국사 60, 세계사 70, 과학 34
- 과목명은 Key 값, 점수는 Value 값

In [1]:
A_score = {'국어' : 75, '영어' : 53, '수학' : 90, '사회' : 46, '한국사' : 60, '세계사' : 70, '과학' : 34}
average = sum(A_score.values()) / len(A_score)
print(average)

61.142857142857146

3. 어떤 수를 입력했을 때, 입력한 수가 홀수이면 True, 짝수이면 False를 출력하는 프로그램을 제작하시오.
- if문을 사용하지 않고 제작

In [ ]:
def odd_even(x):
    return bool(x % 2)

x = int(input('숫자를 입력하시오 : '))
odd_even(x)

4. For 반복문을 이용하여, 1부터 입력받은 수까지의 제곱 합을 구하는 프로그램을 만드시오.

    Ex) 1² + 2² + 3² + 4² + ... + n

In [62]:
def sum_of_squared(n):
    sum = 0
    for i in range(1, n + 1):
        sum += i ** 2
    return sum

n = int(input('숫자를 입력하시오 : '))
sum_of_squared(n)

숫자를 입력하세요 :  4

30

### Python 라이브러리 사용관련 문제
- 사무용품을 렌탈해주는 회사에서 발생한 데이터(01_Data.csv)파일을 분석하고자 합니다.
- Python의 Pandas 라이브러리로 아래의 문제를 해결해 보세요.

In [1]:
import pandas as pd

5. 데이터 파일을 df1 변수로 선언하고, 데이터의 열개수와 행개수를 계산하시오.

In [2]:
df1 = pd.read_csv('01_Data.csv')
df1.shape # shape : (행 개수, 열 개수) / Tuple 형태로 출력
print(f'행 개수 : {df1.shape[0]}, 열 개수 : {df1.shape[1]}')

행 개수 : 51301, 열 개수 : 20

6. 데이터에서 고객들의 유입경로(Channel)을 분석하고자 한다. 유입경로(Channel) 중 가장 많은 고객이 유입된 경로를 확인하시오.

In [5]:
df1['Channel'].value_counts().idxmax()

'영업방판'

7. 데이터에서 고객들이 가장 많이 계약한 제품군(Product_Type)을 분석하고자 한다. 제품군(Product_Type)에는 어떤 데이터가 있는지 확인하시오.

In [86]:
df1['Product_Type'].unique()

array(['DES-1', 'DES-3A', 'DES-2', 'DES-R4', 'MMC', 'ERA'], dtype=object)

8. 데이터에서 고객들이 결제하는 은행(Bank)를 확인하고자 한다. 결제은행(Bank)항목에서 '신한카드'로 결제하는 고객들의 수를 확인하시오.

In [23]:
len(df1.loc[df1['Bank'] == '신한카드'])

1532

9. 유입경로(Channel)에서 '대형마트A'로 유입된 고객들 중, 연체건수(Overdue_count)가 높은 상위 30명의 계약 명단을 추출하여 result4.xlsx 저장하시오.

In [8]:
df1.loc[df1['Channel'] == '대형마트A'].sort_values(by = 'Overdue_count', ascending = False).head(30).to_excel('result4.xlsx')

10. 월렌탈비용(Amount_Month)이 15만원 이상인 고객들 중 판매유형(Sales_Type)이 '렌탈'에 해당하는 고객만 추출하여, 해당 데이터의 행(index) 개수를 확인하시오.

In [46]:
cond1 = (df1['Amount_Month'] >= 150000)
cond2 = (df1['Sales_Type'] == '렌탈')
len(df1.loc[cond1 & cond2])

141

11. 제품군(Product_Type)중 빈도수가 가장 높은 상위 3개의 항목을 추출하여, df2로 선언한 뒤, 계약일자(Datetime)에 따른 월렌탈비용(Amount_Month)의 합을 계산해 result5.xlsx 파일로 저장하시오.

In [24]:
top3_product_types = df1['Product_Type'].value_counts().head(3).index

df2 = df1.loc[df1['Product_Type'].isin(top3_product_types)]
df2.pivot_table(index = 'Datetime', values = 'Amount_Month', aggfunc = 'sum')to_excel('result5.xlsx')

            Amount_Month
Datetime
2019-01-01       4556400
2019-01-02       4903800
2019-01-03       7146300
2019-01-04       4920900
2019-01-05       5505450
...                  ...
2020-08-03       2903739
2020-08-04       2858343
2020-08-05       3031842
2020-08-06       2770758
2020-08-07       1984143

[577 rows x 1 columns]